/* CIRCLES */

.map-In-Circles {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blue-Circle {
    border: 2px solid var(--circles-border-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 680px;
    height: 680px;
}

.red-Circle {
    border: 3px dashed var(--inner-circle-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 575px;
    height: 575px;
}

.travel-Icons {
    display: grid;
    width: 770px;
    height: 750px;
    grid-template-columns: repeat(3,1fr);
    position: relative;
    z-index: 1;
}

.travel-Icons-Item {
    display: flex;
}

.travel-Icons-Item:first-child {
    align-items: center;
}

.travel-Icons-Item:nth-child(2) {
    justify-content: space-between;
    flex-direction: column;
}

.travel-Icons-Item:last-child {
    padding: 70px 0px 125px 50px;
    justify-content: space-between;
    flex-direction: column;
}

.item-In-Circle {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-In-Circle i {
    font-size: 55px;
    color: #fff;
}

.item-In-Circle i.fa-exchange-alt {
    font-size: 100px;
    color: #fff;
}

.item-In-Circle i.fa-suitcase-rolling {
    font-size: 75px;
    color: #fff;
}

.item-In-Circle i.fa-camera {
    font-size: 80px;
    color: #fff;
}

.item-In-Circle i.fa-train, .item-In-Circle i.fa-laptop {
    font-size: 70px;
    color: #fff;
}

.arrows {
    background-color: var(--accent-font-color);
    width: 150px;
    height: 150px;
    font-size: 100px;
}

.laptop {
    background-color: #157eab;
}

.suitecase {
    background-color: #528945;
}

.camera {
    background-color: #fcb333;
}

.train {
    background-color: #503270;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 110px;
    height: 110px;
}

/* END OF CIRCLES */

/* START OF CHAPTER CIRCLES */

.circles-And-Plane {
    padding: 90px 20px 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.market-Icons {
    display: grid;
    width: 700px;
    height: 680px;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.market-Icons-Item {
    display: flex;
    z-index: 1;
}

.market-Icons-Item:first-child {
    padding-top: 25px;
    justify-content: center;
}

.market-Icon-Chartline-Wrapper {
    padding-left: 115px;
}

.market-Icons-Item:last-child {
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 74px;
    padding-left: 50px;
}

.building {
    width: 165px;
    height: 165px;
    background-color: var(--chapterTheme-font);
}

.chartline {
    background-color: #105f80;
}

/* END OF CHAPTER CIRCLES */

/* TOPIC CIRCLES */

.blue-Solid-Circle {
    width: 355px;
    height: 355px;
    border-radius: 50%;
    border: 1px solid var(--circles-border-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-Dashed-Circle {
    width: 405px;
    height: 405px;
    border-radius: 50%;
    border: 3px dashed var(--inner-circle-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* END OF TOPIC CIRCLES */