.content-Slide {
    margin-top: 5px;
}

.slide-Title-Content {
    margin-bottom: 0;
}

.chapters-Number-Font {
    color: var(--accent-font-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.chapters-Name-Font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: var(--slide-font-color);
    font-weight: 600;
}

.chapter-Link-Font {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: var(--slide-font-color);
    text-decoration: underline;
}

.chapters-And-Circles {
    display: flex;
    justify-content: space-between;
}

.chapters-Grid {
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.chapter-Counter {
    counter-reset: chapter; 
    list-style-type: none;
    margin-right: 60px;
}

li.chapter-Number::before {
    counter-increment: chapter;
    content: counter(chapter);
    
}

ol.chapter-Number {
    padding-inline-start: 5px;
}

li.chapter-Number ol{
    counter-reset: subchapter; 
    list-style-type: none;
}

ol.chapter-Counter li.subchapter-Number {
    list-style-type: none;
    font-size: 22px;
    font-weight: 400;
    color: var(--slide-font-color);
    font-family: Arial, Helvetica, sans-serif;
}

.subchapter-Number::before {
    counter-increment: subchapter;
    content: counter(chapter)"."counter(subchapter);
}

.subchapter-Number {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.link-And-Page {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    width: 420px;
}

.laptop-Wrapper {
    margin-left: -45px;
}